ffmpy
# Use maintained librespot-python branch
librespot @ git+https://github.com/zotify-dev/librespot-python.git@main
music_tag
Pillow
pkce
protobuf
pwinput
tabulate[widechars]
tqdm
python-telegram-bot>=20.0
